.m-0 {
  margin: 0px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-custom {
  margin-top: var(--margin-top);
}

.mb-custom {
  margin-bottom: var(--margin-bottom);
}

@media screen and (min-width: 768px) {
  .md-mr-20 {
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .lg-mt-20 {
    margin-top: 5rem;
  }

  .lg-mt-28 {
    margin-top: 7rem;
  }

  .lg-mt-32 {
    margin-top: 8rem;
  }

  .lg-mt-36 {
    margin-top: 9rem;
  }
  
  .lg-mb-5 {
    margin-bottom: 1.25rem;
  }

  .lg-m-0 {
    margin: 0px;
  }
}